@model List<Newfactjo.Models.News>

@if (Model != null && Model.Any())
{
    <div class="topbar-news-container py-2" style="background-color: #222;">
        <div class="container">
            <div class="topbar-news-slider d-flex">

                @foreach (var news in Model)
                {
                    <a href="/News/Details/@news.Id" class="d-block text-white text-decoration-none me-2" style="width: 180px;">
                        <div class="position-relative">
                            <img src="@news.ImageUrl" alt="@news.Title"
                                 class="img-fluid rounded"
                                 style="height: 100px; object-fit: cover; width: 100%;" />
                            <div class="position-absolute bottom-0 start-0 end-0 px-1"
                                 style="background: rgba(0,0,0,0.5); font-size: 0.9rem; padding: 1px 3px; line-height: 1.2;">
                                @news.Title
                            </div>
                        </div>
                    </a>

                }
            </div>
        </div>
    </div>
}
