@model List<Newfactjo.Models.News>

@if (Model != null && Model.Any())
{
    <div class="topbar-news-container py-2" style="background-color: #e3e3e3;">
        <div class="container">
            <div class="topbar-news-slider d-flex">

                @foreach (var news in Model)
                {
                    <a href="/News/Details/@news.Id" class="d-block text-white text-decoration-none me-2" style="width: 250px;">
                        <div class="position-relative">
                            <img src="@news.ImageUrl" alt="@news.Title"
                                 class="img-fluid rounded"
                                 style="height: 100px; object-fit: cover; width: 100%;" />
                            <div class="position-absolute bottom-0 start-0 end-0 px-2"
                                 style="background: rgba(0, 0, 0, 0.6); font-size: 1rem; padding: 4px 6px; line-height: 1.4; font-weight: 700; color: #fff;">
                                @news.Title
                            </div>

                        </div>
                    </a>

                }
            </div>
        </div>
    </div>
}
