@{
    ViewData["Title"] = "البث المباشر";
}

<div class="container my-5">
    <div class="text-center">
        <h2 class="text-danger mb-4">📺 البث المباشر الآن</h2>

        <div class="ratio ratio-16x9 shadow rounded">
            <iframe src="https://ghaasiflu.online/alhqeqa/embed.html"
                    allowfullscreen
                    frameborder="0"
                    width="100%"
                    height="100%">
            </iframe>
        </div>
    </div>
</div>
